.App {
  text-align: center;
  background-color: #5c92ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  min-height: 15vh;
}

.dialog {
  height: 50px;
}

.check-btn {
  border-radius: 12px;
  width: 75px;
  height: 45px;
}

.numberInput {
  margin: 15px;
}


